ul {
    list-style: none;
}

.tarefas{
    border: 1px solid #5c5c5c;
    border-radius: 16px;
    padding: 16px;
}

.descricao_tarefa{
    display: flex;
    align-items: center;
    gap: 16px;
}

h2 {
    background-color: rgb(255, 255, 255);
    border-right: 1px solid #5c5c5c;
    padding-right: 16px;
}

.etiqueta {
    border: 1px solid #b6b6b6;
    border-radius: 4px

}

.etiquetas_geral{
    display: flex;
    gap: 8px;
}




