body {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.container {
    width: 100%; 
    max-width: 1000px; 
    min-width: 320px; 
    margin: 0 auto; 
    background: white;
    padding: 15px; 
    border-radius: 8px;
}
.tarefa {
    border: 1px solid #5C5C5C;
    border-radius: 27px;
    padding: 15px;
    margin-bottom: 30px;
}


.task-header {
    display: flex;
    align-items: center;
    flex-wrap: wrap; 
    gap: 10px;
    margin-bottom: 10px;
}


.prioridade {
    padding: 4px 12px;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    gap: 10px;
}

.alta { background-color: #CF3F3F; }
.media { background-color: #FFBD3D; }
.baixa { background-color: #72C240; }


.date {
    border: 1px solid #b6b6b6;
    color: #b6b6b6;
    border-radius: 4px;
    padding: 5px 8px;
    font-size: 12px;
}

.task-content {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre elementos */
}

.task-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #181818;
}

.pipe {
    width: 1px;
    border-radius: 2px;
    height: 40px;
    background-color: #B6B6B6;
}

.task-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}


@media (max-width: 480px) {
    .date {
        font-size: 10px;
        padding: 4px 6px;
    }
}


.assignees-container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap; 
}

.assignees {
    padding: 5px 10px;
    border: 1px solid #b6b6b6;
    border-radius: 4px;
    font-size: 12px;
    color: #b6b6b6;
    font-family: 'Poppins', sans-serif;
    white-space: nowrap; 
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        padding: 15px;
    }

    .tarefa {
        padding: 12px;
        margin-bottom: 20px;
    }

    .task-header {
        flex-direction: column; /* Empilha os elementos */
        align-items: flex-start;
    }

    .assignees-container {
        justify-content: flex-start;
    }

    .assignees {
        font-size: 10px;
        padding: 4px 6px;
    }
}


h2 {
    text-align: center;
    font-size: 22px;
    color: #4A4A4A;
}

@media (max-width: 480px) {
    h2 {
        font-size: 18px;
    }

.task-content {
    display: flex;
    align-items: center;
    gap: 10px; /* Espaçamento entre elementos */
}

.task-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #181818;
}

.pipe {
    width: 2px;
    height: 20px;
    background-color: #B6B6B6;
}

.task-description {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #181818;
}



}